<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unse.bienestarestudiantil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vistas.Fragmentos.BecasFragment"></activity>
        <activity
            android:name=".Vistas.Activities.GestionArchivosActivity"
            android:label="Gestión de archivos" />
        <activity android:name=".Vistas.Activities.TorneosActivity" />
        <activity android:name=".Vistas.Dialogos.DialogoProfesorDeportes" />
        <activity android:name=".Vistas.Dialogos.DialogoReservas" />
        <activity android:name=".Vistas.Activities.NoticiaLectorActivity" />
        <activity android:name=".Vistas.Activities.Polideportivo.GestionReservas.AdministrarReservasActivity" />
        <activity android:name=".Vistas.Activities.Polideportivo.GestionIngreso.IngresoPolideportivoActivity" />
        <activity android:name=".Vistas.BarcodeActivity" />
        <activity android:name=".Vistas.Activities.Deportes.PerfilDeporteActivity" />
        <activity android:name=".Vistas.Fragmentos.DeportesFragment" />
        <activity android:name=".Vistas.Activities.Deportes.RegistroDeporteActivity" />
        <activity
            android:name=".Vistas.Activities.InfoAlumnoActivity"
            android:label="Información" />
        <activity
            android:name=".Vistas.Activities.PerfilActivity"
            android:label="Perfil" />
        <activity
            android:name=".Vistas.Activities.Polideportivo.GestionReservas.ConfirmarReservaActivity"
            android:label="Confirmar Reserva" />
        <activity android:name=".Vistas.Fragmentos.PoliFragment" />
        <activity android:name=".Vistas.Activities.LoginWelcomeActivity" />
        <activity android:name=".Vistas.Activities.LoginActivity" />
        <activity android:name=".Vistas.Activities.PerfilProfesorActivity" />
        <activity
            android:name=".Vistas.Activities.AsistenciaActivity"
            android:label="Asistencia" />
        <activity
            android:name=".Vistas.Activities.Polideportivo.GestionReservas.ReservaEspacioActivity"
            android:label="Realizar Reserva" />
        <activity android:name=".Vistas.Activities.CredencialActivity" />
        <activity
            android:name=".Vistas.Activities.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".Vistas.Activities.SlideWelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vistas.RegisterActivity" />
        <activity android:name=".Vistas.TransitionActivity" />
        <activity android:name=".Vistas.Activities.SplashScreenActivity" />
        <activity android:name=".Vistas.Activities.PerfilTorneoActivity" />
        <activity
            android:name=".Vistas.Activities.Polideportivo.GestionReservas.EspaciosActivity"
            android:label="Espacios Disponibles" />
        <activity
            android:name=".Vistas.Activities.Polideportivo.GestionPolideportivoActivity"
            android:label="Gestión de Polideportivo" />
        <activity
            android:name=".Vistas.Activities.Polideportivo.RequisitosReservasActivity"
            android:label="Requisitos de Reservas" />
        <activity
            android:name=".Vistas.Activities.Polideportivo.GestionFinanzas.GestionFinanzasActivity"
            android:label="Gestión de Finanzas" />
        <activity
            android:name=".Vistas.Activities.Polideportivo.GestionReservas.GestionReservasActivity"
            android:label="Gestión de Reservas" />
        <activity
            android:name=".Vistas.Activities.Polideportivo.GestionIngreso.GestionIngresoActivity"
            android:label="Gestión de Ingresos" />
        <activity
            android:name=".Vistas.Activities.Deportes.GestionProfesor.GestionProfesorActivity"
            android:label="Gestión de Profesor" />
        <activity
            android:name=".Vistas.Activities.Deportes.GestionProfesor.ListadoAlumnosActivity"
            android:label="Listado de Alumnos" />
        <activity android:name=".Vistas.Activities.Deportes.GestionProfesor.AsistenciaClasesActivity" />
        <activity
            android:name=".Vistas.Activities.Gestion.GestionSistemaActivity"
            android:label="Gestión de Sistema" />
        <activity
            android:name=".Vistas.Activities.Gestion.EstadisticasActivity"
            android:label="Estadisticas" />
        <activity
            android:name=".Vistas.Activities.Becas.TurnosActivity"
            android:label="Turnos" />
        <activity android:name=".Vistas.Activities.Becas.TipoTurnosActivity" />
        <activity android:name=".Vistas.Activities.Becas.SelectorFechaActivity" />
    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>